@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Inter:wght@400;700&family=Noto+Sans:wght@500;700&family=Paytone+One&family=Roboto:wght@100;300&family=Titillium+Web:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  'Oxanium', cursive;
}

body{
    background: linear-gradient(to bottom, #6ab7f5, #fff) no-repeat;
    /* background-color: #6ab7f5;*/
    height: 100%;
    width: 100%; 
}

header{
    position: sticky;
    background-color: #ff4141;
    color: #ffffff;
    height: 20vh;
    width:100%;
    z-index: 999;
    top: 0;
}

/* .cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
} */


.logo{
    width: 15vw;
    margin-left: 2vw;
}

#Pokemon{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

#Poke-content{
    align-items: center;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px ;
}



.bck-imgCard{
    background-color: #edebeb;
    width: 219.5px;
    margin-bottom: 2vh;
    height: 40vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}



.each-poke{
    margin-left: 2vw;
    margin-top: 2vw;
    box-sizing: border-box;
    /* border: 2px solid rgb(174, 174, 174); */
    box-shadow: 0 4px 8px -1px rgb(127, 127, 127);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    background-color: #ffffff;
    transition: all 0.2s ease-in-out;
    width: 219.5px;
}

.poke-size{
    min-width: 13vw;
}

.addList{
    margin-bottom: 2vh;
}

.each-poke:hover{
    transform: scale(1.05);
}

#mostra-poke-details{
    border: none;
    color: #ffffff;
    background-color: rgb(202, 148, 12);
    width:5vw;
    border-radius: 2px;
    margin-bottom: 1vh;
    cursor: pointer;
}

/* #modal{
    box-sizing: border-box;
    border: 2px solid black;
    position: absolute;
    align-items: center;
    display: flex;
    display: none;
} */

.poke-ball{
    width: 8vw;
    transition: all 0.2s ease-in-out;
}

.poke-ball:hover{
    transform: scale(1.1);
}

/* .modalBtn {
    height: 5vh;
    min-height: 30px;
    width: 15vh;
    min-width: 130px;

    border-radius: 5px;
    border: 0;
    outline: 0;
    
    
    background-color: #c8d7e6;
}

.text {
    margin-top: 0;
    font-size: 1.1em;
} */

.open-side-bar{
    position:fixed;
    z-index: 980;
    top:0;
    width:8vw;
    margin-left: 80%;
    display: none;
}


#open-side-bar-btn{
    border: none;
    border-radius: 50%;
    background-color: #FE4141;
    transition: all 0.2s ease-in-out;
    rotate:180deg;
    transform: rotate(-90deg);
}

#open-side-bar-btn:hover{
    transform: scale(1.1);
}

.open-side-bar-img                                                                                                                              {
    width:5vw;
    border-radius: 50%;  
}


.open-side-bar-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.modal {
    margin: auto;
    display: none; 
    position: fixed;
    z-index: 999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: #edebeb; */
}

.modal-content{
    background-color: #D3D3D3; 
    margin: 15% auto;  
    padding: 20px;
    border-radius: 5px;
    width: 30%; 
    height: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capturar{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poke-list{
    border: none;
    background: none;
    
}

#poke-list img{
    cursor: pointer;
}

.close-modal{
    justify-content: center;
    display: flex;
    align-items: center;
}

#fechar{
    border: none;
    background-color: #ff4141;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    width:3vw;
    height: 3vw;
    margin: 0;
    cursor: pointer;
    margin-left: 28.7vw;
    margin-top: -2.5vh;
    font-size: 2vw;
    transition: all 0.2s ease-in-out;
}

#fechar:hover{
    transform: scale(1.1);
}

#pokeImg{
    width:8vw;
}

.pokeInformation{
    display: flex;
    flex-direction: row;
}

.poke-basic{
    display: flex;
    flex-direction: column;
    
    text-align: left;
}

.detail-information{
    margin-top: 7vh;
    margin-left: 7vw;
}

.show-side-bar{
    right: 16rem;
}

.side-bar{
    position:fixed;
    top: 0;
    display: none;
    height:120vh;
    width: 180px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    bottom: 0;
    animation: side-bar-open-animation 0.8s;
}

@keyframes side-bar-open-animation{
    from{
        right: -20rem;
    }
    to{
        right: 0;
    }
}


.side-bar-actived{
    transition: all 0.8ms;
    right:0;
}

.side-bar-content{
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.each-side-poke{
    margin-top: 0.9vh;
    margin-bottom: 0.9vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.side-bar-content-display{ 
    margin-top: 22vh;
    color: #fff;
    display: flex;
    flex-direction: column; 
    align-items: center ;

}

.list-name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#fechar-side{
    border: none;
    background-color: rgba(33, 33, 33, 0);
    /* background-color: rgba(33, 33, 33, 0); */
    color: #ff0000;
    cursor: pointer;
    width: 4vw;
    height: 4vw;
    font-size: 4vw;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}

#fechar-side:hover{
    transform: scale(1.2);
}

.close-side-bar{
    display: none;
    margin-top:20vh;
    margin-bottom: -20vh;
    margin-left: 2vw;
}

.erro{
    display: none;
}

.loc-list{
    display: none;
    font-size: 12px;
}

/* .botao-play, .botao-pause {
    font-size: 50px;
    cursor: pointer;
} */
@media only screen and (max-width: 1280px){
    .modal-content{
        min-width: 50vw;
        min-height: 80vh;
        font-size: 25px;
    }

    .poke-ball{
        min-width: 10vw;
    }

    .close-modal{
        margin-left: 20vw;
    }

    #pokeImg{
        min-width: 20vw;
    }

    .poke-size{
        min-width: 18vw;
    }

    .bck-imgCard{
        min-width: 17vw;
    }

     
      .side-bar{
        position:fixed; 
        right: 0;
        /* min-width: 30vw; */
        /* bottom: 0; */
        z-index: 10;
        overflow-y:scroll;
       
    }

    .side-bar::-webkit-scrollbar{
        margin-top: 22vh;
        height: 10vh;
    }

    .close-side-bar{
        display: block;
    }

    .side-bar-content{
        margin-top: 0;
        display: flex;
        align-items: center;
        flex-direction:flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 100%;
    }

    .side-bar-content-display{
        top: 0;
    }

    .open-side-bar{
        display: none;
        z-index: 999;
        top:5vh;
        color: #fff;
    }

}

 @media only screen and (max-width: 1024px){
   
    header{
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        width:25vw;
    }

    #Poke-content{
        margin-top: 2vh;
        align-items: center;
        display: grid;
        grid-template-columns: 240px 240px 240px;
        
    }

    .each-poke{
       margin-bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 40vh;
        max-width: 40vw;
    }

    #mostra-poke-details{
        min-width: 10vw;
    }

    .poke-size{
        min-width: 20vw;
    }

    #pokeImg{
        min-width: 15vw;
    }

    .bck-imgCard{
        min-height: 10vh;
    }

    .capturar{
        font-size: 15px
    }

    .pokeInformation{
        text-align: center;
        font-size: 20px;
        
    }


    .modal-content{
        min-width: 50vw;
        min-height: 70vh;
    }


    .poke-ball{
        min-width: 5vw;
    }

    .loc-list{
        display: block;
    }

}

@media only screen and (max-width: 1000px){ 

    #Poke-content{
        align-items: center;
        display: grid;
        grid-template-columns: 240px 240px 240px;
    }
    

    .side-bar-content-display{ 
        /* position: absolute; */
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .each-side-poke{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .each-poke{
        
        display: flex;
        align-items: center;
        justify-content: center;
        /* max-height: 10vh; */
        margin-bottom: 2vh;
        /* max-width: 30vw; */
        
    }

    .loc-list{
        display: block;
    }

    #mostra-poke-details{
        min-width: 15vw;
    }

    .poke-size{
        min-width: 25vw;
    }

    #pokeImg{
        min-width: 20vw;
    }

    .bck-imgCard{
        min-height: 10vh;
    }

    .pokeInformation{
        text-align: center;
    }

    .modal-content{
        min-width: 50vw;
        min-height: 70vh;
    }

    .poke-ball{
        min-width: 15vw;
    }

    #fechar{
        font-size: 25px;
        min-width: 5vw;
        min-height: 5vw;
    }


    .each-side-pokemon-size{
        min-width: 10vw;
    }

}

@media only screen and (max-width: 768px){

    #Poke-content{
        align-items: center;
        display: grid;
        grid-template-columns: 235px 235px;
    }

    .each-poke{
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 30vh;
        max-width: 220vw;
    
    }

    #mostra-poke-details{
        min-width: 10vw;
    }

    .poke-size{
        min-width: 25vw;
    }

    .modal-content{
        min-width:50vw;
        /* height: 50vw; */
    }

    .poke-ball{
        min-width: 15vw;
    }

    #pokeImg{
        min-width: 20vw;
    }

    .poke-basic{
        margin-left: 2vw;
    }

    .detail-information{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .close-modal{
        margin-top: 0;
        margin-left: 20vw;
       
        
    }

    #fechar{
        min-height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .pokeInformation{
        width: 50vw;
    }

    .capturar{
        text-align: center;
    }

    .open-side-bar{
        margin-top: 2vh;
    }


} 


@media only screen and (max-width: 480px){

    header{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-content{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        width:45vw;
    }
   
    #Poke-content{
        align-items: center;
        display: grid;
        grid-template-columns: 226px;
    }

    .each-poke{
        margin-bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 40vh;
    }

    #mostra-poke-details{
        min-width: 22vw;
    }

    .poke-size{
        min-width: 52vw;
    }

    .modal-content{
        min-width:80vw;
        max-height: 110vw;
    }

    .poke-ball{
        min-width: 25vw;
    }

    #pokeImg{
        min-width: 25vw;
    }

    .poke-basic{
        margin-left: -10vw;
        margin-right: 15vw;
    }

    .detail-information{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .close-modal{
        margin-top: 1vh;
        margin-left: 32vw;
    }   

    #fechar{
        min-height: 10vw;
        min-width: 10vw;
    }

    .capturar{
        text-align: center;
    }

    .each-side-poke{
        font-size: 15px;
        margin-right: 1.5vw;
        margin-left: 1.5vw;
    }

    .close-side-bar{
        margin-top: 10vh;
        margin-bottom: -10vh;
    }

    #fechar-side{
        font-size: 10vw;
    }

    .each-side-pokemon-size{
        min-width: 13vw;
    }

    .side-bar-content-display{
        margin-top: 10vh;
    }


    .open-side-bar-img{
        min-width: 7vw;
    }

    .open-side-bar{
        margin-top: -3vh;
    }
}

@media only screen and (max-width: 385px){


    .logo{
        width:40vw;
    }

    .pokeInformation{
        margin-top: 2vh;
    }

    .modal-content{
        
        min-height: 50vh;
        min-width: 80vw;
    }    


    .close-modal{
        margin-top: 1vh;
        margin-left: 40vw;
        font-size: 3px;
    }   

    .poke-ball{
        min-width: 15vw;
    }

    .open-side-bar-img{
        width: 8vw;
    }
}

@media only screen and (max-width: 280px){

    .pokeInformation{
        margin-top: 0;
        font-size: 15px;
    }

    .modal-content{
        
        min-height: 50vh;
        min-width: 90vw;
        
    }    

    .poke-ball{
        min-width: 15vw;
    }

    .each-side-poke{
        font-size: 15px;
    }

    .each-side-pokemon-size{
        min-width: 20vw;
    }
    

}

